<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xuzhi.easykitchen" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.EasyKitchenProvider"
            android:authorities="com.example.xuzhi.easykitchen" />

        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MineActivity" />
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="@string/recipe_activity_name"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MenuActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_activity_name"
            android:parentActivityName=".StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.StartActivity" />
        </activity>
        <activity
            android:name=".AddNewRecipeActivity"
            android:label="@string/new_recipe_activity_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.CustomRecipesActivity" />
        </activity>
        <activity
            android:name=".FavoriteRecipesActivity"
            android:label="@string/favorite_recipes_activity_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MineActivity" />
        </activity>
        <activity
            android:name=".MineActivity"
            android:label="@string/mine_activity_name"
            android:parentActivityName=".MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MenuActivity" />
        </activity>
        <activity
            android:name=".AddMaterialActivity"
            android:label="@string/add_material_activity_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MainActivity" />
        </activity>
        <activity
            android:name=".CustomRecipesActivity"
            android:label="@string/custom_recipes_activity_name"
            android:parentActivityName=".MineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.xuzhi.easykitchen.MineActivity" />
        </activity>
    </application>

</manifest>
